.container1
{
width: 500px;
float: left;
}
 .container2
 {
    float: left;
display: inline;
width:700px;
margin:-286px  123px 89px 339px;
height: 15px;
 }


h1
{
   
    width: 150px;
    background-color: whitesmoke;
    margin: 31px 20px 13px 30px;
   
}


#row
{
    float:left; 
    diplay:inline; 
}
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li a:hover {
background-color:grey;
}
#nav {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}
a :hover
{
background-color:grey;
}
.container3
{
    float: left;
    margin: 37px 611px 4px 4px;

}
.i1
{
    float:left;
    width: 700px;
    height: 350px;
    margin: -373px -20px -7px  340px;
}
.container4
{
    animation:mymove infinite 5s;
    width:230px; 
    height: 600px;
   float:right;
    margin-top: -430px;
    margin-right: 33px;
}
@keyframes mymove {
    from {background-color: red;}
    to {background-color:rgb(0, 110, 255);}
}
th
{
width:10px;
height:5px;
}
th,td
{
    border:solid 1px goldenrod;
    width:10px;
    height: 29px;
}
.container5{
    position: absolute;
    float:left;
    width:128px;
    
    margin:67px 74px 31px 217px;
}
.part
{
    background-color: #982828;
    color: white;
}
table
{
    width: 700px;
    height: 300px;
    margin-right: -2px;
    margin-left:123px;
    margin-top:-68px;
    text-align: center;
}
.mini_container
{
    width: 1459px;
    height: 100px;
    float: left;
    margin: 234px 3px 13px 2px;
    background-color: #333333;
    color:whitesmoke ;
    text-align: justify;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

@media all and (max-width:500px)
{

}
  
  